<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GIVECENTRAL">
  <test thread-count="5" name="GC_15">
    <classes>
      <class name="GC.GCSW.ADD_NEW_EVENT"/>
      <class name="GC.GCSW.DYNAMIC_PAGE_1"/>
      <class name="GC.GCSW.ADD_DONOR"/>
      <class name="GC.GCSW.TICKET_EVENT"/>
      <class name="GC.GCSW.COMMUNICATION_FILE"/>
      <class name="GC.GCSW.CREATE_PLADGE"/>
      <class name="GC.GCSW.PLADGED_EVENT"/>
      <class name="GC.GCSW.MAKE_GUEST_PAYMENT"/>
      <class name="GC.GCSW.TEXT_TO_ENGAGE_REPORT"/>
      <class name="GC.GCSW.NORMAL_EVENT"/>
      <class name="GC.GCSW.DYNAMIC_PAGE_4"/>
      <class name="GC.GCSW.CROWDFOUNDING_EVENT"/>
      <class name="GC.GCSW.DYNAMIC_PAGE_2"/>
      <class name="GC.GCSW.GC_FIRST"/>
      <class name="GC.GCSW.DYNAMIC_PAGE_3"/>
    </classes>
  </test> <!-- GC_15 -->
</suite> <!-- GIVECENTRAL -->
